<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="./img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This website was created by Sonam. It uses data from mapbox.com and darksky.net !</p>
            <img class="portrait" src="img/WIN_20211001_11_28_32_Pro.jpg">
        </div>
          
        {{>footer}}
    </body>
</html>